button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
    padding: var(--espaco-xs);
    border: none;
    color: var(--cor-branca);
    border-radius: var(--border-radius);
}
button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  opacity: 0.8;
  cursor: pointer;
}
botao:active {
  transform: translateY(0); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: default;
}
