* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helveticaa';
}

@font-face {
    font-family: 'Helveticaa';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Helvetica.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
}

/* Estilos comuns */

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cor-branca);
}

h1 {
    font-size: var(--text-lg);
    font-family: 'Helvetica Bold';

}

h2 {
    font-size: var(--text-lg);
    font-family: 'Helvetica Bold';

}

h5 {
    font-family: 'Helvetica Bold';
    font-size: var(--text-md);
}

p {
    font-size: var(--text-md);
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    cursor: default;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.75rem;
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: var(--text-md);
    padding: var(--espaco-xs);
    border: none;
    color: var(--cor-branca);
    border-radius: var(--border-radius);
    transition: 0.4s;
    font-family: 'Helvetica Bold';
}

button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.bold {
    font-family: 'Helvetica Bold';
}

.whatsapp_fixed_icon:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.whatsapp_fixed_icon:active {
    transform: translateY(0);
    cursor: default;
}

/*----------------*/

@media screen and (max-width: 1024px) {
    :root {
        --espaco-xs: 0.4rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 4rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sx: 0.688rem;
        --text-sm: 0.75rem;
        --text-md: 1rem;
        --text-lg: 1.5rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 5vw;
        --margem-lateral-pagina-extra: 7vw;
    }
    /*estilo padrão (mobile)*/
    button {
        height: 39px;
    }
    .mobile-hidden { display: none; }
    h1 {
        line-height: var(--espaco-md);
    }
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--cor-branca);
    }
    header {
        height: 4.5rem;
        width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-azul-claro);
        padding: 0 var(--margem-lateral-pagina);
    }
    .header-container-mobile {
        display: flex;
        align-items: center;
        gap: var(--espaco-sm);
    }

    header button {
        padding: var(--espaco-sm);
    }

    /* Ícone Hamburguer */
    .hamburger {
        width: 39px;
        height: 39px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: var(--espaco-xs);
        background: var(--cor-branca);
        border-radius: var(--border-radius);
    }

    .hamburger span {
        display: block;
        width: 90%;
        height: 2.5px;
        background: var(--secondary-color);
        transition: 0.3s;
        border-radius: var(--border-radius);
    }

    /* Overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: var(--cor-branca);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--espaco-md);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        z-index: 2;
    }


    .overlay.open {
        opacity: 1;
        pointer-events: auto;
    }


    .overlay a {
        color: var(--secondary-color);
        font-size: 28px;
        text-decoration: none;
    }


    .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 39px;
        cursor: pointer;
        color: var(--secondary-color);
    }

    main {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section-introducao {
        height: 83.3rem;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 33.33%);
        grid-template-columns: 100%;
        padding: 3rem var(--margem-lateral-pagina);
        text-align: center;
        place-items: center;
    }

    .section-introducao-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--secondary-color);
        gap: var(--espaco-md);
        padding: 0 var(--margem-lateral-pagina-extra);
    }

    .section-introducao-content button {
        width: 80%;
    }

    .hero-video-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hero-video-container video {
        width: 16.75rem;
        height: 25.25rem;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius);
    }

    .quem_somos_container {
        margin-top: var(--espaco-lg);
        place-self: start;
        height: 46.875rem;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        gap: var(--espaco-lg);
        align-items: center;
        background-color: var(--cor-azul-claro);
        border-radius: var(--border-radius);
        z-index: 1;
    }

    .quem_somos_container img {
        height: 16.25rem;
        width: 16.25rem;
        object-fit: cover;
        object-position: center;
    }

    .quem_somos_container div {
        padding: 0 var(--margem-lateral-pagina-extra);
        display: flex;
        flex-direction: column;
        gap: var(--espaco-sm);
        align-items: center;
        justify-content: space-between;
    }

    .quem_somos_container div h2 {
        color: var(--secondary-color);
    }

    .quem_somos_container div h2 br {
        display: none;
    }

    .quem_somos_container div p {
        color: var(--secondary-color);
        line-height: 1.6rem;
        padding: 0 var(--espaco-sm);
    }

    .quem_somos_container div button {
        width: 15.813rem;
    }

    .fundo-cor-efeito-quem-somos {
        height: 22.124rem;
        width: 100%;
        z-index: -1;
        background-color: var(--secondary-color);
    }

    .section_servicos {
        width: 100%;
        height: 72rem;
        padding-left: var(--margem-lateral-pagina);
        padding-right: var(--margem-lateral-pagina);
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--espaco-lg);
        align-items: center;
    }

    .section_servicos>h2 {
        color: var(--cor-branca);
        text-align: center;
    }
    .section_servicos>h2>br {
        display: none;
    }

    .servicos_container_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--espaco-md);
    }

    .servicos_card {
        width: 80%;
        height: 16rem;
        background-color: var(--cor-branca);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: var(--espaco-sm) var(--espaco-md);
        transition: 0.5s;
    }

    .servicos_card:hover {
        transform: translateY(-0.5rem);
    }

    .servicos_card h5 {
        font-size: var(--text-md);
        color: var(--secondary-color);
    }

    .servicos_card p {
        color: var(--secondary-color);
        font-size: 0.813rem;
        text-align: center;
    }

    .linha-do-card {
        background-color: rgba(15, 51, 75, 0.5);
        height: 1px;
        width: 100%;
        border-radius: var(--border-radius);
    }

    .servicos_card button {
        width: 100%;
    }

    .por_que_escolher_perfillaser_section {
        height: 48rem;
        padding: 0 var(--margem-lateral-pagina);
        gap: var(--espaco-lg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .por_que_escolher_perfillaser_section h2 {
        font-size: var(--text-lg);
        color: var(--secondary-color);
        text-align: center;
    }

    .por_que_escolher_perfillaser_section .container_cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.6rem;
    }

    .por_que_escolher_perfillaser_section .container_cards>div {
        background-color: var(--secondary-color);
        height: 9rem;
        padding: 0 var(--espaco-sm);
        display: grid;
        grid-template-rows: 2.6rem;
        place-items: center;
        color: var(--cor-branca);
        transition: 0.5s;
        border-radius: var(--border-radius);
    }

    .por_que_escolher_perfillaser_section .container_cards>div:hover {
        transform: translateY(-0.5rem);
    }

    .container-content-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--espaco-xs);
        align-items: center;
        flex-direction: center;
        text-align: center;
    }

    .container-content-card h5 {
        font-size: var(--text-sm);
    }
    .container-content-card p {
        font-size: var(--text-sx);
    }

    .container_img_card {
        align-self: center;
        position: relative;
        width: 3.063rem;
        min-width: 3.063rem;
        height: 3.063rem;
        min-height: 3.063rem;
        top: -0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: var(--border-radius);
    }

    .container_img_card img {
        width: 1.625rem;
        height: 1.625rem;
    }

    .section-form {
        width: 100%;
        height: 36.625rem;
        padding: 0 var(--margem-lateral-pagina);
        background-color: var(--cor-azul-claro);
        padding-top: 7.5rem;
        display: flex;
        justify-content: center;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--cor-branca);
        width: 100%;
        height: 36rem;
        padding: var(--espaco-md);
        border-radius: var(--border-radius);
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .form>h2 {
        color: var(--secondary-color);
    }

    .form>p {
        color: var(--secondary-color);
    }

    .form>input {
        height: 2.8rem;
        padding: var(--espaco-sm);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--cor-azul-claro);
        color: var(--secondary-color);
        font-size: var(--text-sm);
    }

    .form>input::placeholder {
        color: rgba(15, 51, 75, 0.5);
    }

    .form>input:focus {
        outline: none;
        /* Remove o contorno padrão */
        box-shadow: none;
        /* Remove o brilho azul em alguns navegadores */
    }

    .form>textarea {
        padding: var(--espaco-sm);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--cor-azul-claro);
        color: var(--secondary-color);
        font-size: var(--text-sm);
    }

    .form>textarea::placeholder {
        color: rgba(15, 51, 75, 0.5);
    }

    .form>textarea:focus {
        outline: none;
        /* Remove o contorno padrão */
        box-shadow: none;
        /* Remove o brilho azul em alguns navegadores */
    }

    .fundo-cor-efeito {
        height: 9.7rem;
        width: 100%;
        z-index: -1;
        background-color: var(--secondary-color);
    }

    footer {
        width: 100%;
        padding: 0 ;
        height: 45rem;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    footer>div {
        height: 100%;
        width: auto;
        text-align: center;
        padding: var(--espaco-md) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--cor-azul-claro);
    }

    .footer-column1 {
        gap: 3rem;
        justify-content: space-between;
        height: 70%;
    }

    .footer-column1>img {
        max-width: 6rem;
    }

    .footer-column2 {
        gap: 2rem;
        align-items: center;
    }

    .footer-column2>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .footer-column2 h5 {
        font-size: var(--text-md);
    }

    .footer-column3 {
        height: 70%;
        gap: 2rem;
    }

    .footer-column3 h5 {
        font-size: var(--text-md);
    }

    .container-redes-sociais-imgs {
        display: flex;
        gap: var(--espaco-sm);
    }
    .whatsapp_fixed_icon {
        position: fixed;
        transition: 0.2s;
        bottom: var(--espaco-md);
        right: var(--espaco-md);
        z-index: 2;
        height: 70px;
        width: 70px;
    }

    .toast {
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        background: #e3f4f1;
        color: #0e5e4a;
        padding: 1rem 1.5rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
        opacity: 0;
        transform: translateY(20px);
        transition: opacity .4s ease, transform .4s ease;
        z-index: 2;
    }

    .toast .icon {
        font-size: 1.4rem;
    }

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }

    .hidden {
        pointer-events: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     :root {
        --espaco-xs: 0.4rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 4rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sx: 0.9rem;
        --text-sm: 1.1rem;
        --text-md: 1.3rem;
        --text-lg: 1.6rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 5vw;
        --margem-lateral-pagina-extra: 7vw;
    }
    .servicos_card p {
        font-size: 1rem;
    }

    footer{
        height: 50rem;
    }

}

@media (min-width: 1024px){
    .hamburger{ display: none;}
    :root {
        --espaco-xs: 0.5rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 5rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sm: 1.17rem;
        --text-md: 1.2rem;
        --text-lg: 2.5rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 3vw;
    }

    .mobile-show {
        display: none;
    }

    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--cor-branca);
    }

    header {
        height: 7.563rem;
        width: 100vw;
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--cor-azul-claro);
        padding: 0 var(--margem-lateral-pagina);
    }

    header img {
        width: 6.813rem;
        height: 3.2rem;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 25.875rem;
    }

    header nav a {
        font-size: var(--text-md);
        text-decoration: none;
        color: var(--secondary-color);
    }

    header button {
        width: 11.25rem;
    }

    main {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section-introducao {
        display: grid;
        padding: 0 var(--margem-lateral-pagina);
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: 44.938rem 23.688rem;
        grid-template-areas:
            'hero-cotent hero-cotent hero-cotent hero-video hero-video'
            'quem_somos quem_somos quem_somos quem_somos quem_somos'
        ;
    }

    .section-introducao-content {
        grid-area: hero-cotent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--secondary-color);
        gap: var(--espaco-md);
    }

    .section-introducao button {
        width: 22.5rem;
    }

    .hero-video-container {
        grid-area: hero-video;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hero-video-container video {
        width: 28.938rem;
        height: 27.813rem;
        object-fit: cover;
        object-position: center;
        border-radius: var(--border-radius);
    }

    .quem_somos_container {
        grid-area: quem_somos;
        height: 40.438rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--cor-azul-claro);
        border-radius: var(--border-radius);
        z-index: 1;
    }

    .quem_somos_container img {
        height: 30.563rem;
        width: 29.75rem;
        object-fit: cover;
        object-position: center;
    }

    .quem_somos_container div {
        width: 40%;
        height: 30.563rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .quem_somos_container div h2 {
        color: var(--secondary-color);
    }

    .quem_somos_container div p {
        color: var(--secondary-color);
        line-height: var(--espaco-md);
        padding-right: 5.5rem;
    }

    .quem_somos_container div button {
        width: 15.813rem;
    }

    .fundo-cor-efeito-quem-somos {
        height: 16.55rem;
        width: 100%;
        z-index: -1;
        background-color: var(--secondary-color);
    }

    .section_servicos {
        width: 100%;
        height: 49.95rem;
        padding-left: var(--margem-lateral-pagina);
        padding-right: var(--margem-lateral-pagina);
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--espaco-lg);
    }

    .section_servicos>h2 {
        color: var(--cor-branca);
        text-align: center;
    }

    .servicos_container_cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--espaco-md);
    }

    .servicos_card {
        width: 100%;
        height: 25rem;
        background-color: var(--cor-branca);
        border-radius: var(--border-radius);
        display: grid;
        grid-template-rows: 19% 1px 60% 20%;
        place-items: center;
        padding: var(--espaco-md);
        transition: 0.5s;
    }

    .servicos_card:hover {
        transform: translateY(-0.5rem);
    }

    .servicos_card h5 {
        font-size: var(--text-md);
        color: var(--secondary-color);
    }

    .servicos_card p {
        color: var(--secondary-color);
        text-align: center;
    }

    .linha-do-card {
        background-color: rgba(15, 51, 75, 0.5);
        height: 1px;
        width: 100%;
        border-radius: var(--border-radius);
    }

    .container_title_card_servicos {
        padding-bottom: var(--espaco-md);
    }

    .servicos_card button {
        width: 100%;
    }

    .por_que_escolher_perfillaser_section {
        height: 66.5rem;
        padding: 0 var(--margem-lateral-pagina);
        gap: var(--espaco-lg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .por_que_escolher_perfillaser_section h2 {
        font-size: var(--text-lg);
        color: var(--secondary-color);
        text-align: center;
    }

    .por_que_escolher_perfillaser_section .container_cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: var(--espaco-sm);
    }

    .por_que_escolher_perfillaser_section .container_cards>div {
        background-color: var(--secondary-color);
        height: 16rem;
        padding: 0 var(--espaco-md);
        display: grid;
        grid-template-rows: 5.338rem;
        place-items: center;
        color: var(--cor-branca);
        transition: 0.5s;
        border-radius: var(--border-radius);
    }

    .por_que_escolher_perfillaser_section .container_cards>div:hover {
        transform: translateY(-0.5rem);
    }

    .container-content-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--espaco-xs);
        align-items: center;
        flex-direction: center;
        text-align: center;
    }

    .container_img_card {
        align-self: center;
        position: relative;
        width: 5.338rem;
        min-width: 5.338rem;
        height: 5.338rem;
        min-height: 5.338rem;
        top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: var(--border-radius);
    }

    .section-form {
        width: 100%;
        height: 44.625rem;
        padding: 0 var(--margem-lateral-pagina);
        background-color: var(--cor-azul-claro);
        padding-top: 7.5rem;
        display: flex;
        justify-content: center;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-md);
        background-color: var(--cor-branca);
        width: 100%;
        height: 47.813rem;
        padding: var(--espaco-lg) var(--espaco-lg);
        border-radius: var(--border-radius);
    }

    .form-header {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-sm);
        color: var(--secondary-color);
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--espaco-md);
    }

    .form>input {
        height: 3.75rem;
        padding: var(--espaco-sm);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--cor-azul-claro);
        color: var(--secondary-color);
        font-size: var(--text-sm);
    }

    .form>input::placeholder {
        color: rgba(15, 51, 75, 0.5);
    }

    .form>input:focus {
        outline: none;
        /* Remove o contorno padrão */
        box-shadow: none;
        /* Remove o brilho azul em alguns navegadores */
    }

    .form>textarea {
        padding: var(--espaco-sm);
        border: none;
        border-radius: var(--border-radius);
        background-color: var(--cor-azul-claro);
        color: var(--secondary-color);
        font-size: var(--text-sm);
    }

    .form>textarea::placeholder {
        color: rgba(15, 51, 75, 0.5);
    }

    .form>textarea:focus {
        outline: none;
        /* Remove o contorno padrão */
        box-shadow: none;
        /* Remove o brilho azul em alguns navegadores */
    }

    .fundo-cor-efeito {
        height: 10.688rem;
        width: 100%;
        z-index: -1;
        background-color: var(--secondary-color);
    }

    footer {
        width: 100%;
        padding: 0 var(--margem-lateral-pagina);
        height: 30rem;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer>div {
        height: 100%;
        padding: var(--espaco-lg) 0;
        display: flex;
        flex-direction: column;
        color: var(--cor-azul-claro);
    }

    .footer-column1 {
        gap: 3rem;
    }

    .footer-column1>img {
        max-width: 14.875rem;
    }

    .footer-column2 {
        gap: 2rem;
        align-items: center;
    }

    .footer-column2>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .footer-column2 h5 {
        font-size: var(--text-md);
    }

    .footer-column3 {
        gap: 2rem;
        align-items: flex-end;
    }

    .footer-column3 h5 {
        font-size: var(--text-md);
    }

    .container-redes-sociais-imgs {
        display: flex;
        gap: var(--espaco-sm);
    }

    .container-redes-sociais-imgs>img {
        transition: 0.1s;
    }

    .container-redes-sociais-imgs>img:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        transform: translateY(-3px);
        cursor: pointer;
    }

    .container-redes-sociais-imgs>img:active {
        transform: translateY(0);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: default;
    }

    .whatsapp_fixed_icon {
        position: fixed;
        transition: 0.2s;
        bottom: var(--espaco-md);
        right: var(--espaco-md);
        z-index: 2;
        height: 70px;
        width: 70px;
    }

    .toast {
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        background: #e3f4f1;
        color: #0e5e4a;
        padding: 1rem 1.5rem;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
        opacity: 0;
        transform: translateY(20px);
        transition: opacity .4s ease, transform .4s ease;
        z-index: 2;
    }

    .toast .icon {
        font-size: 1.4rem;
    }

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }

    .hidden {
        pointer-events: none;
    }
}

@media (min-width: 1200px) {
    /* Ícone Hamburguer */
    .hamburger{ display: none;}
    :root {
        --espaco-xs: 0.5rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 5rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sm: 1.20rem;
        --text-md: 1.4rem;
        --text-lg: 2.7rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 5vw;
    }
}

@media (min-width: 1400px) {
    :root {
        --espaco-xs: 0.5rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 5rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sm: 1.25rem;
        --text-md: 1.5rem;
        --text-lg: 3rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 7vw;
    }
}

@media (min-width: 1900px) {
    :root {
        --espaco-xs: 0.5rem;
        --espaco-sm: 1rem;
        --espaco-md: 2rem;
        --espaco-lg: 5rem;
        --primary-color: #EA2D2D;
        --secondary-color: #0F334B;
        --cor-branca: #EAF9FF;
        --cor-azul-claro: #D6E9F1;
        --text-sm: 1.25rem;
        --text-md: 1.5rem;
        --text-lg: 3rem;
        --border-radius: 0.25rem;
        --margem-lateral-pagina: 15vw;
    }
}